@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>All about vehicles</h1>
    <p class="lead">This website gives infographic about vehicles.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bikes</h2>
        <p>
            <img src="~/Content/Images/andrew-pons-50263-unsplash.jpg" width="60%" height="50%" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <p> <img src="~/Content/Images/dhiva-krishna-491392-unsplash.jpg"  width="60%" height="50%" />
    <div class="col-md-4">
        <h2>Bikes</h2>
        <p><img src="~/Content/Images/conor-luddy-649791-unsplash.jpg" width="60%" height="50%" /></p>
    </div>
</div>