@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>All about vehicles</h1>
    <p class="lead">This website gives infographic about vehicles.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bikes</h2>
        <p>
            <img src="~/Content/Images/conor-luddy-649791-unsplash.jpg" width="60%" height="50%" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <p> <img src="~/Content/Images/andrew-pons-50263-unsplash.jpg" width="60%" height="50%" /></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>